body{
    background-color:rgb(169, 117, 218);
    height: 600px;
}

.box{
    height: 800px;
    display: grid;
    grid-template-areas: "topo topo topo"
                          "mL cont mR";
    grid-template-rows: 50px 1fr 90px;
    grid-template-columns: 100px 1fr 100px;

}

.titulo{
    background-color:red;
    grid-area: topo;
    
}

.menuE{
    background-color: rgb(142, 183, 232);
    grid-area: mL;
    
}

.conteudo{
    background-color: blueviolet;
    grid-area: cont;
}

.menuR{
    background-color: pink;
    grid-area: mR;
    
}