p{
    background-color: rgb(255, 0, 221);
    color: rgb(128, 0, 111);
}

h1{
background-color: rgb(112, 102, 102);
color: black;
height: 300px;
text-align: center;

}
h2{
background-color: rgb(251, 255, 0);
}