.div1 {
    background-color: rgb(0, 174, 255);
    height: 300px;
    padding-top: 10px;
    }
    
    .div2 {
        background-color: rgb(255, 166, 0);
        height: 300px;
    }
    
    .div3 {
        background-color: yellow;
        height: 300px;
    }
    .div0 {
        background-color: black;
        color: rgb(73, 219, 14);
        margin: 30px;
        text-align: center;
        font-size: 100px;
        height: 100px;
        padding: 60px;
    
    
    
    
    }