*{
    margin: 0;
    padding: 0;
    }
    h1 {
    background-color: rgb(176, 212, 200);
    }
    .titulo{
    background-color: rgb(83, 22, 250);
    
    }
    .stilo{
    background-color: rgb(224, 123, 8);
    
    }